<div class="item">
    <div class="title">Nome</div>
    <input type="text" name="title" value ="{{chef.name}}" required>
</div>

<div class="item">
    <div class="title">Avatar</div>
    <div class="box-images-chef">
        <div class="photos-upload">
            <input type="file" name="photos"
            id="photos-input" accept="image/*"
            onchange="PhotosUpload.apply('handleFileInputChefs', event)">
            <p>Enviar Avatar</p>
        </div>
        <div class="photos-preview">
            {% if file %}
                <div class="photo" id="{{file.id}}">
                    <img src="{{file.src}}" alt="{{file.name}}">
                    <i class="material-icons" onclick="PhotosUpload.removePhoto(event)">close</i>
                </div>
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
</div>

