<div class="chef-name">
  <h3>Nome</h3>
  <input type="text" name="name" value="{{chef.name}}">
</div>

<div class="chef-avatar">
  <h3>Avatar</h3>
  <input type="text" name="avatar_url" value="{{chef.avatar_url}}">
</div>
