{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Admin Foodfy - Novo Chef</title>
{% endblock %}

{% block content %}

<main>
    <section id="box">
    <form action="/admin/chefs" method="POST" id="save_chef" enctype="multipart/form-data">
        <div class="wrapper">
            <h3>Criando chef</h3>
            <button type="submit" onclick="Validates.allFields(event)">Salvar chef</button>
        </div>

        {% include "./chefs-fields.njk" %}
        
    </form>
    </section>
</main>

{% endblock %}
