<!DOCTYPE html>

<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link href="/style.css" rel="stylesheet">
    </head>


    <body>
        <header id='admin-header'>
            <a href="/"><img src="/admin-logo.png" alt="Foodfy-logo"></a>
            <a href="/sobre"> </a>
            <a href="/receitas"> </a>
        </header>
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

    </body>

</html>