{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Admin Foodfy - New recipe</title>
{% endblock %}

{% block content %}

    <div class="admin-title__show">
        <h2 id="page-title__cards">Criando receita</h2>
        <a href="recipes">Salvar receita</a>
    </div>

    <form action="/recipes" method="post">
      <section class="form-details">

        {% include 'admin/recipe-fields.njk' %}
      
      </section>
    </form>


{% endblock %}