{% extends '../layout.njk' %}

{% block header %}
    <div class="main-presentation">
        <div class="presentation">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas 
            criadas por profisionais do mundo inteiro.</p>
        </div>
        <img src="/images/chef.png" alt="Chef">
    </div>
{% endblock %}


{% block content %}
    <main>
        <h2>Mais acessadas</h2>

        {% include "./layoutRecipes.njk" %}

    </main>
{% endblock %}