{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    <main>

        {% if filter %}
            <h3>Buscando por "{{filter}}"</h3>
        {% endif %}

        {% include "./layoutRecipes.njk" %}

        <div class="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-limit = {{pagination.limit}}>
        </div>

    </main>  
{% endblock %}
