@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --salmon: #FBDFDB;
    --purple: #6558C3;
    --red-warning: #DC4747;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

header {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 210px 1fr;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: #111;
    margin-left: 30px;
}

.menu a.active {
    font-weight: bold;
}


footer {
    background-color: #eee;
    font-size: 14px;
    color: #999;
    text-align: center;

    width: 100%;
    padding: 20px 0;
    margin-top: auto;
}



/* SEARCH BAR */
.search input {
    margin-right: 5px;
    padding: 010px 15px;
    width: 246px;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.search button {
    height: 37px;
    width: 91px;
    color: #fff;
    background-color: var(--purple);
    border-radius: 4px;
}



/* HOME PRESENTATION */
.main-presentation {
    background-color: var(--salmon);
    border-radius: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentation {
    width: 460px;
    align-self: center;
    padding-left: 60px;
}

.presentation h1 {
    font-size: 32px;
    color: #111;
    line-height: 38px;
    margin-bottom: 10px;
}

.presentation p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

.main-presentation img { 
    justify-self: center;
    padding-top: 66px;
}

.main-presentation img:hover { 
    opacity: 0.8;
    transition: 200ms;
}



/* HOME CONTENT - ABOUT */
main {
    width: 940px;
    margin: 50px auto;
}

main h2,
main section h2 {
    font-size: 24px;
    color: #111;
    line-height: 28px;
    margin-bottom: 20px;
}

main section h3 {
    font-size: 20px;
    color: #111;
    line-height: 24px;
    margin-bottom: 20px;
}

main section p {
    font-size: 18px;
    color: #444;
    line-height: 20px;
    margin-bottom: 30px;
}