:root {
    --salmon: #FBDFDB;
    --purple: #6558C3;
    --red-warning: #DC4747;
}

.header {
    background-color: #111;
}

.header header {
    width: 940px;
    margin: 32px auto;
}

.header a {
    color: #fff
}

.header a.active {
    font-weight: bolder;
}



/* ADMIN RECIPES PAGE */
section#box,
section#box {
    max-width: 940px;
    margin: 20px auto
}

section#box .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

section#box h3 {
    line-height: 28px;
    font-size: 24px;
    color: #111;
}

section#box > .wrapper button.new-recipe,
section#box > .wrapper button.new-chef {
    padding: 9px 40px;
}

button {
    padding: 9px 20px;
    cursor: pointer;
    line-height: 18px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: var(--purple);
    margin-bottom: 20px;
}



/* ADMIN CREATE RECIPES PAGE */
button[type="submit"] {
    font-weight: bold;
}

.item .title {
    font-size: 16px;
    font-weight: bold;
    color: #111;
    line-height: 19px;

    margin: 10px 0;
}

.item input[type="text"],
.item select {
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    padding: 15px 20px;
    font-size: 14px;
}

.item button[type="button"] {
    background-color: transparent;
    color: var(--purple);
    font-weight: bold;

    padding: 0;
}

.item textarea {
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
    height: 260px;
    margin-bottom: 20px;

    padding: 15px 20px;
    font-size: 14px;
}

.item .box-images-recipe {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.item .box-images-recipe .photos-upload {
    height: 150px;
    width: 150px;

    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0;

    display: block;
    position: relative;
    overflow: hidden;
}

.item .box-images-recipe .photos-upload i {
    font-size: 50px;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.item .box-images-recipe #photos-input,
.item .box-images-chef #photos-input {
    top: 0;
    left: 0;
    padding: 0;
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}



/* ADMIN CREATE CHEFS PAGE */
.item .box-images-chef .photos-upload {
    background-color: var(--purple);
    width: 140px;
    height: 40px;
    border-radius: 4px;

    display: block;
    position: relative;
    overflow: hidden;
}

.item .box-images-chef .photos-upload p {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}