{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Admin Foodfy - Nova Receita</title>
{% endblock %}

{% block content %}

<main>
    <section id="box">
    <form action="/admin/recipes" method="POST" id="save_recipe" enctype="multipart/form-data">
        <div class="wrapper">
            <h3>Criando nova receita</h3>
            <button type="submit" onclick="Validates.allFields(event)">Salvar receita</button>
        </div>

        {% include "./recipe-fields.njk" %}
        
    </form>
    </section>
</main>

{% endblock %}
