{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Admin Foodfy - New recipe</title>
{% endblock %}

{% block content %}


    <form action="/admin/recipes" method="POST">
      <div class="admin-title__show">
          <h2 id="page-title__cards">Criando receita</h2>
          <button type="submit">Salvar receita</button>
      </div>

      <section class="form-details">

        {% include 'admin/recipes/recipe-fields.njk' %}
      
      </section>
    </form>


{% endblock %}