{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Admin Foodfy - Receitas</title>
{% endblock %}

{% block content %}

<main>
    <section id="box">
        <div class="wrapper">
            <h3>Gerenciar receitas</h3>
            <a href="/admin/recipes/create"><button class="new-recipe">Nova receita</button></a>
        </div>

        {% include "./layoutRecipes.njk" %}

        <div class="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-limit = {{pagination.limit}}>
        </div>

    </section>
</main>

{% endblock %}
