<div class="recipes">
    {%for recipe in recipes%}
        <div class="recipe">
            <div class="recipe-image">
                {% for file in files %}
                {% if recipe.id == file.recipe_id %}
                    <a href="/receitas/{{recipe.id}}"><img src="{{file.src}}" alt="{{file.name}}"></a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="details">
                <h4 class="title">{{recipe.title}}</h4>
                <p class="author">{{recipe.chef_name}}</p>
                <a href="{{redirect}}{{recipe.id}}" class="view">Visualizar</a>
            </div>
        </div>
    {% endfor %}
</div>