<header>
    <a href="/"><img src="/images/admin-logo.png" alt="Foodfy-logo"></a>
    <div class="menu admin-menu">
        <div>
            <a class="link" href="/admin/recipes">RECEITAS</a>
            <a class="link" href="/admin/chefs">CHEFS</a>
        </div>
    </div>
</header>